extends layout

block content
  h1= 'Add Article'
  form(method="POST" enctype action="/add")
    h3= 'Name'
    input(type="text" name="_id")

    h3= 'Parent'
    input(type="text" name="parent")
    
    br

    input(type="submit")
