extends layout
  
block content
  header
        .centered
          img(src='img/logo.png', alt='logo')
          p Все услуги
        .address
          p.tel +375 29 6836997
          p.tel +375 29 1621535
          p.tel т/факс 2684569
          p.tel
            a(href='mailto:signstudio@tut.by') signstudio@tut.by
          p.pr цены по запросу
          p.adr
            a(href='https://maps.yandex.ru/157/minsk/?ll=27.597359%2C53.945703&z=16&text=%D0%91%D0%B5%D0%BB%D0%B0%D1%80%D1%83%D1%81%D1%8C%2C%20%D0%9C%D0%B8%D0%BD%D1%81%D0%BA%2C%20%D1%83%D0%BB%D0%B8%D1%86%D0%B0%20%D0%93%D0%B0%D0%BB%D0%BE%2C%20146%D0%90&sll=27.558759%2C53.904131&sspn=0.517044%2C0.168070&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fll%3D27.597359%252C53.945703%26spn%3D0.016457%252C0.009708%26text%3D%25D0%2591%25D0%25B5%25D0%25BB%25D0%25B0%25D1%2580%25D1%2583%25D1%2581%25D1%258C%252C%2520%25D0%259C%25D0%25B8%25D0%25BD%25D1%2581%25D0%25BA%252C%2520%25D1%2583%25D0%25BB%25D0%25B8%25D1%2586%25D0%25B0%2520%25D0%2593%25D0%25B0%25D0%25BB%25D0%25BE%252C%2520146%25D0%2590', target='_blank') адрес: ул. Гало, 146a, 2 этаж
   .container
      // TABLE 1
      h1 широкоформатная печать hi-end (1440 dpi) шириной до 2.6 метра
      table.list
        tr
          td
            | Краски
          td
            ul
              -
              each item in data
                li 
                  a(href='/details/' + item.name + '/' +item.content)= item.name
        tr
          td
            | Холст
          td
            ul
              li хлопковый
              li полиэстеровый
        tr
          td
            | Бумага
          td
            ul
              li постерная
              li фото
              li блюбек
              li самоклеющаяся
        tr
          td
            | Баннер
          td
            ul
              li фронтлит
              li беклит
              li 2-х сторонний
        tr
          td
            | Пленки
          td
            ul
              li белые
              li позрачные
              li цветные
              li металлизированные
              li транслюцентные
              li саморазрушающиеся
              li с постоянным и временным клеем
        tr
          td
            | Ткань
          td
            ul
              li сатин
              li атлас
              li габардин
              li полиоксфорд
              li сетка
              li бифлекс
              li адверт
              li шелк
              li декодекс
        tr
          td(colspan='2')
            .stripe
        tr.ready-products
          td
            | Изделия
          td
            ul
              li картины
              li репродукции
              li постеры в раме
              li фотообои
              li баннеры
              li вывески
              li указатели
              li выставочные конструкции
              li флаги
              li шторы
              li занавески
              li скатерти
              li промоодежда
              li подушки
              li косынки
              li галстуки
              li чехлы
              li текстильные фреймовые системы 
              li несветовые и световые короба
              li этикетки
              li наклейки
              li стикеры
              li рекламные магниты
              li таблички
              li схемы
              li планшеты
      // TABLE 2
      h1 цифровая печать
      table.list
        tr
          td
            | Материалы
          td
            ul
              li бумага
              li картон
        tr
          td(colspan='2')
            .stripe
        tr.ready-products
          td
            | Изделия
          td
            ul
              li визитные карточки
              li открытки
              li листовки
              li приглашения
              li наклейки
      // TABLE 3
      h1 плоттерная резка
      table.list
        tr
          td
            | Материалы
          td
            ul
              li пленка самоклеющаяся
              li пленка прозрачная для трафаретов
              li картон
              li бумага
              li магнитный винил
        tr
          td(colspan='2')
            .stripe
        tr.ready-products
          td
            | Изделия
          td
            ul
              li аппликации 
              li открытки
              li наклейки
              li магниты сложной формы
              li трафареты 
      // TABLE 4
      h1 ламинирование
      table.list
        tr
          td
            | Материалы
          td
            ul
              li пленки
              li 2-х сторнние скотчи
        tr
          td(colspan='2')
            .stripe
        tr.ready-products
          td
            | Изделия
          td
            ul
              li ламинация пленок 
              li ламинация бумаг
              li нанесение на твердую основу (пластик или пенокартон)
      // TABLE 5
      h1 багетная мастерская
      table.list
        tr
          td
            | Материалы
          td
            ul
              li профиль алюминиевый
              li деревянный
              li пластиковый
        tr
          td(colspan='2')
            .stripe
        tr.ready-products
          td
            | Изделия
          td
            ul
              li подрамник
              li рама
      // TABLE 6
      h1 доминг
      table.list
        tr
          td
            | Материалы
          td
            ul
              li прозрачная полиуретановая смола
        tr
          td(colspan='2')
            .stripe
        tr.ready-products
          td
            | Изделия
          td
            ul
              li наклейки обьемные
              li рекламные магниты обьемные
