doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title= title
    meta(name='description', content='Салон цифровой широкоформатной печати и пост-печатной подготовки')
    meta(name='keywords', content='широкоформатная печать минск цифровая печать ламинирование багетная мастерская доминг печатаные услуги печать на холсте виниловые пленки картины, репродукции, постеры в раме, фотообои\
    баннеры вывески указатели выставочные конструкции флаги шторы занавески скатерти промоодежда подушки косынки галстуки чехлы текстильные фреймовые системы несветовые и световые короба этикетки наклейки стикеры рекламные магниты сольвентные водные сублимационные латексные краски наклейки обьемные рекламные магниты')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='favicon.ico', type='image/png')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/main.css')
  body
    block content